body {
  background-color: grey;
  height: 100vh;
}

div {
  position: absolute;
  margin: 5px;
  height: 100px;
  width: 100px;
}

.div1 {
  background-color: black;
  top: 0%;
}
.div2 {
  background-color: rgb(0, 0, 0);
  top: 32%;
}
.div3 {
  background-color: rgb(0, 0, 0);
  top: 16%;
}
.div4 {
  background-color: rgb(0, 0, 0);
  left: 12%;
  top: 0%;
}
.div5 {
  background: rgb(0, 0, 0);
  left: 23%;
  top: 0%;
}
.div6 {
  background-color: rgb(0, 0, 0);
  left: 12%;
  top: 16%;
}

.div7 {
  background: rgb(0, 0, 0);
  right: 0%;
  bottom: 0%;
}
.div8 {
  background-color: rgb(0, 0, 0);
  right: 0%;
  bottom: 32%;
}
.div9 {
  background-color: rgb(0, 0, 0);
  right: 0%;
  bottom: 16%;
}
.div10 {
  background-color: rgb(0, 0, 0);
  right: 11%;
  bottom: 0%;
}
.div11 {
  background-color: rgb(0, 0, 0);
  right: 22%;
  bottom: 0%;
}
.div12 {
  background-color: rgb(0, 0, 0);
  right: 11%;
  bottom: 16%;
}
